
.navbar-nav .nav-link {
    position: relative;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5722;
    transition: width 0.4s ease;
}
.navbar-nav .nav-link:hover {
    background-color: #F0FFFF;
    color: #000000 !important;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar-nav .nav-link.active {
    background-color: rgba(0, 0, 0, 0.15);
    color: #0a58ca;
}
